<h1>{{ titulo }}</h1>
<ul class="recetas">
  <li>
    <img src="https://unsplash.com/photos/DoK5qEy2L60" width="300px" />
    <a href="galletas.html">Galletas</a>
  </li>

  <li>
    <img src="https://unsplash.com/photos/SRYAhnTHSck" width="300px" />
    <a href="helados.html">Helados</a>
  </li>
  <li>
    <img src="https://unsplash.com/photos/MKBoRZEGeiM" width="300px" />
    <a href="cupcakes.html">Cupcakes</a>
  </li>
  <li>
    <img src="https://unsplash.com/photos/diUixdrqh0Q" width="300px" />
    <a href="pasteles.html">Pasteles</a>
  </li>
  <li>
    <img src="https://unsplash.com/photos/TGrx5f8UcZM" width="300px" />
    <a href="brownies.html">Brownies</a>
  </li>
  <li>
    <img src="ihttps://unsplash.com/photos/sSLi0wraDmQ" width="300px" />
    <a href="cheescakes.html">Cheescakes</a>
  </li>
</ul>
